[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simple-zpl2 = "*"
pillow = "*"
palletlabels = {editable = true, path = "./palletLabels"}

[dev-packages]

[requires]
python_version = "3.8"
